<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mallproject.UserService.mapper.TokenMapper">

    <resultMap id="RefreshToken" type="com.mallproject.UserService.model.Token">
        <result property="tokenId" column="token_id"/>
        <result property="refreshToken" column="token"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="findRefreshTokenByUserId" resultMap="RefreshToken">
        select * from refresh_token where user_id = #{userId}
    </select>

    <select id="findRefreshTokenByToken" resultMap="RefreshToken">
        select * from refresh_token where token = #{token}
    </select>

    <select id="deleteRefreshToken" resultMap="RefreshToken">
        delete from refresh_token where token = #{token}
    </select>

    <insert id="saveToken">
        INSERT INTO refresh_token (token_id, user_id, token)
        VALUES (#{tokenId}, #{userId}, #{refreshToken})
    </insert>
</mapper>